body{
	background-color:#363636;

}

.layout{
		min-height: 500px;
}

@media screen and (min-width: 200px) and (max-width: 900px) {


.layout{
	margin-top: 10%;
}

}


@media screen and (min-width: 1024px) {

.layout{
	margin-top: 5%;
}

}


#conteudo{
	background-color:#ffffff;
}

#conteudo-dow{
	background-color:#ffffff;
	margin-top: 5%;
} 

#footer{
	height: 80px;
	background-color: #ccc;
	text-align: center;
}